<ul class="list-group">
  <li class="list-group-item bg-secondary bg-opacity-10">STO: <%= discover.voucher_id.sto %></li>
  <li class="list-group-item p-0">
    <input type="text" hidden value="<%= discover._id %>" name="[discovery][<%= i %>][return_id]">
    <input type="text" hidden value="<%= discover.voucher_id._id %>" name="[discovery][<%= i %>][voucher_id]">
    <div class="input-group">
      <select class="form-select" name="[discovery][<%= i %>][title]" style="border-radius: 0px 0px 0px 5px;">
        <option value="DIS" selected hidden>DIS</option>
        <option value="DIS">DIS</option>
        <option value="COMP">COMP</option>
        <option value="MIS">MIS</option>
        <option value="RAI">RAI</option>
      </select>

      <select class="form-select" name="[discovery][<%= i %>][location]">
        <option value="PLAD" selected hidden>PLAD</option>
        <option value="PLAD">PLAD</option>
        <option value="HENDON">HENDON</option>
        <option value="NEESOON">NEESOON</option>
        <option value="TEKONG">TEKONG</option>
      </select>

      <select class="form-select" name="[discovery][<%= i %>][tag]">
        <option value="M" selected hidden>M</option>
        <option value="M">M</option>
        <option value="R">R</option>
      </select>

      <input type="text" class="form-control" placeholder="083/2023" name="[discovery][<%= i %>][discover_id]">

      <textarea class="form-control w-25" placeholder="(1 x 7.62MM TRACER)&#013;(1 x 5.56MM BALL)&#013;(1 x 5.56MM TRACER)" style="height: 100px" name="[discovery][<%= i %>][items]" style="border-radius: 0px 0px 0px 0px;"></textarea>
    </div>
  </li>
</ul>