<li class="nav-item <%= loc %>">
  <a class="nav-link" aria-current="page" href="<%= route %>/<%= date %>/issueSummary/<%= weekendDate %>/<%= loc %>/<%= period %>">
    <button type="button" class="btn btn-outline-primary <%= type == period && location == loc && issueDate == weekendDate ? 'active' : '' %>">
      <span class="date">
        <%= weekendDate %>
      </span> <%= time %>
    </button>
  </a>
</li>